<!DOCTYPE HTML>
<html lang="zh-CN">  
  <%- partial('_partial/head') %>
  <body>
    <div class="content">
      <%- partial('_partial/header') %>
      <%- body %>
      <div class="push"></div>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/elevator') %>
  </body>
</html>
