<%
var title;
var link;
if(item.title){
  title = item.title;
}
else{
  if(item.link){
    title = item.link;
  }
  else{
    title = item.path;
  }
}
if(item.link){
    link = item.link
  }
  else{
    link = item.path;
  }
%>
<div class="article-header">
    <% if (index){ %>
    <a class="article-title" title="<%= item.title %>" href="<%- url_for(link) %>" <% if(item.link){ %>target="_blank"<% } %>><%= title %></a>
    <% } else { %>
    <span class="article-title">
      <%= title %>
    </span>
    <% } %>
    <% if(is_archive() && (typeof page.year != 'undefined' && typeof page.month != 'undefined' && (page.year + page.month) != date(item.date, 'YYYYM'))){ %>
    <span class="article-date icon-time"><%= date(item.date, 'YYYY/MM/DD') %></span>
    <% }else{ %>
    <a class="article-date icon-time" title="<%= _p('postOfDate',date(item.date, 'YYYY/MM/DD')) %>" href="<%= url_for('archives/'+date(item.date, 'YYYY/MM/')) %>"><%= date(item.date, 'YYYY/MM/DD') %></a>
    <% } %>
</div>
