<section class="staticman content-item" id="comment">
  <h3><%- __('articleComment') %></h3>
  <form class="login-form" method="POST" action="https://api.staticman.net/v1/entry/<%- theme.staticman %>">
    <input type="hidden" name="options[redirect]" value="<%- config.url %><%- config.root %><%- item.path %>">
    <input name="options[slug]" type="hidden" value="<%- item.slug %>">
    <input name="fields[name]" type="text" placeholder="<%- __('name') %>"/>
    <input name="fields[email]" type="email" placeholder="<%- __('email') %>"/>
    <textarea name="fields[message]" placeholder="<%- __('comment') %>"></textarea>
    <button><%= __('submit') %></button>
  </form>
  <% 
  var commentArray = [];
  var slug = item.slug;
  for(i in site.data){
    var nameArray = i.split('/');
    var postName = nameArray[0];
    if(postName == slug){
      commentArray.push(site.data[i]);
    }
  }
 %>
 <% if(commentArray.length > 0){ %>
<div class="comments-container">
<h3><%- __('commentList') %></h3>
<ul id="comments-list" class="comments-list">
 <% for(var i in commentArray){
   var comment = commentArray[i];
   var commentDate = new Date(comment.date);
   comment.date = date(commentDate,'YYYY/MM/DD');
  %>
  <li>
    <div class="comment-box">
      <div class="comment-head">
        <span class="comment-name"><%- comment.name %></span>
        <span class="icon-time comment-date"><%- comment.date %></span>
      </div>
      <div class="comment-content"><%- comment.message %></div>
    </div>
  </li>
 <% } %>
 </ul>
 </div>
 <% }else{ %>
 <div class="comment-empty light"><%= __('emptyComment') %></div>
 <% } %>
</section>