<%
var content = "";
if (item.excerpt && index){
  content = item.excerpt;
}else{
  content = item.content;
}
%>
<section class="content-item">
  <article>
    <%- partial('article/header') %>
    <% if(!index){ %>
    <%- partial('article/toc') %>
    <% } %>
    <div class="article-content">
    <% if (item.photos && item.photos.length){ %>
    <%- partial('article/gallery') %>
    <% } %>
    <%- content %>
    </div>
    <%- partial('article/footer') %>
  </article>
</section>
<% if(theme.staticman && !index && item.comments){ %>
<%- partial('article/staticman') %>
<% } %>
