<header>
  <img src="<%- url_for('images/logo.jpg') %>" title="logo" />
  <span><%= config.title %></span>
  <nav>
    <ul>
      <% for(var x in theme.menu){ 
        var item = theme.menu[x];
        var url = item.url;
        var title = item.title;
        var icon = item.icon;
      %><li><a href="<%- url_for(url) %>" title="<%= __(title) %>" class="navigation icon-<%= icon %>"></a></li><% } %>
    </ul>
  </nav>
</header>