<div class="header">
  <div class="title">
    <a href="<%- url_for() %>"><%= config.title %></a>
  </div>
  <% if(theme.date){ %>
  <a href="<%- url_for('date') %>"><%= __('date') %></a>
  <% } %>
  <% if(theme.archive){ %>
  <a href="<%- url_for('archives') %>"><%= __('archive') %></a>
  <% } %>
  <% if(theme.tags){ %>
  <a href="<%- url_for('tags') %>"><%= __('tag') %></a>
  <% } %>
  <% if(theme.categories){ %>
  <a href="<%- url_for('categories') %>"><%= __('category') %></a>
  <% } %>
  <% if(theme.github){ %>
  <a href="https://github.com/<%- theme.github %>" target="_blank"><%= __('github') %></a>
  <% } %>
  <% if(theme.email){ %>
  <a href="mailto:<%- theme.email %>"><%= __('email') %></a>
  <% } %>
  <% if(theme.tapir_token || theme.algolia){ %>
  <a href="/search"><%- __('search') %></a>
  <% } %>
</div>