<header class="header">
  <div class="header__wrapper">
    <a class="header__title header__link" href="<%= url_for() %>"><%= config.title %>
    </a>
    <nav class="header__menu">
      <ul class="header__list">
        <% for(var x in theme.menu){ 
          var item = theme.menu[x];
          var url = item.url;
          var title = item.title;
        %>
        <li class="header__list-item">
          <a class="header__link" href="<%- url_for(url) %>" title="<%= title %>"><%= title %></a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>